PORT=5000
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=sample_mongodb_connection_string
RESEND_API_KEY=sample_resend_api_key
CONTACT_NOTIFICATION_TO=test_var
CONTACT_NOTIFICATION_FROM=P. Con. <onboard@resend.dev>
ADMIN_EMAIL=sample_admin_email_address
ADMIN_PASSWORD_HASH=sample_admin_hash_pass
JWT_SECRET=sample_jwt
NODE_ENV=development